.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1r;
    grid-template-areas: 
    "imgone imgtwo imgthree"
    "imgone imgfive imgthree"
    "imgfour imgfive imgsix";
    gap: 10px;
    width: 100%;
    margin: 5rem 0; 
}

.images img {
    object-fit: cover;
    width: 100%;   
    height: 100%;
    border-radius: 5px; 
}

.imgone {
    grid-area: imgone;
}

.imgtwo {
    grid-area: imgtwo;
}

.imgthree {
    grid-area: imgthree;
}

.imgfour {
    grid-area: imgfour;
}

.imgfive {
    grid-area: imgfive;
}

.imgsix {
    grid-area: imgsix;
}

@media only screen and (min-width: 2561px) {
    .images-section h2 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 2561px) {
    .images-section h2 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1551px) {
    .images-section h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1025px) {
    .images-section h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "imgone imgtwo"
        "imgthree imgfour"
        "imgfive imgsix";
    }
}

@media only screen and (max-width: 769px) {
    .images-section h2 {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 600px) {
    .images {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas: 
        "imgone"
         "imgtwo"
        "imgthree" 
        "imgfour"
        "imgfive" 
        "imgsix";
    }
    
}

@media only screen and (max-width: 426px) {
    .images-section h2 {
        font-size: 1.2rem;
        margin: 5rem 0 0 0;
        letter-spacing: .2rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 1200px) {
  
}